/* Animation for the heading in the index-page */ 

h1.header {
  animation-name: text_c;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes text_c {
  0%  {color: gold;}
  30% {color: yellow;}
  60% {color: #ff8040;}
  90% {color: greenyellow;}
}