header {
  background: blue;
  padding: 7.5px;
}

h1.header {
  color: aliceblue;
  text-align: center;
}

p.money {
  color: black;
  float: left;
}

main {
  padding: 10px;
}

p.asked_question {
  color: black;
}